<!DOCTYPE html>
<link rel = "stylesheet" type = "text/css" href = "type.css">
<html>
<head>
    <div class = "title">
        <font class = "headerFont">蜂鸟分享区</font><br/>
    </div>
    <div align = "right">
        <a href = "signup.php">注册</a>
        <a href = "signin.php">登陆</a>
    </div>
    <hr/>
</head>
</html>
