body {

    font-family: 微软雅黑;

    margin: 0 auto;

    width: 70%;

}



.title {

    width: 100%;

    text-align: center;

    text-shadow: 0px 1px #FFF;

}



.headerFont {

    font-size: 40px;

}



.logInOut {

    

    margin-right: 0px;

}



.share:hover{

    background-color: #FCFCFC;

}



a:link {

    text-decoration: none;

}
